.postSender {
    position: fixed;
    bottom: 0;
    left: 0;
}
.postSender form{
    margin-bottom: 60px;
}
.postSender__uploadImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
    background-color: #ffffff;
    padding: 20px 30px;
    color: #808080;
    width: 100%;
}
.postSender__addMessage{
    /* margin-bottom: 50px; */
}
.postSenedr__iconMessage {
    cursor: pointer;
}

.postSender__progress {
    width: 100%;
}

.postSender__textInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    outline-width: 0;
    border: none;
    background-color: #ebebeb;
    margin-top: 10px;
    margin-bottom: 5px;
}

.postSender__input {
    flex: 1;
    background-color: #ebebeb;
    padding: 5px 5px;
    border: transparent;
    outline-width: 0;
}

.postSender__uploadImage>form>div>button {
    color: #0095f6;
    font-weight: 600;
}

.postSender__uploadImage>form>div>button:disabled {
    color: #aad9f8;
}

.postSender__emojiButton {
    cursor: pointer;
}

.postSendr__emoji {
    position: absolute;
    bottom: 120px;
}

