.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    height: 60px;
}

.header__logo{
    font-size: 24px;
    font-weight: 600;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #fafafa;
}

.header__search>input {
    border: none;
    width: 100%;
    height: 100%;
    outline-width: 0;
    padding: 5px 10px;
    background-color: #fafafa;
}

.header__right,
.header__options {
    display: flex;
}

.header__option {
    padding-left: 24px;
}

@media (max-width: 600px) {
    .header {
        padding: 0;
    }

    .header__search {
        display: none;
    }

}

@media (max-width: 500px) {
    .header__options {
        display: none;
    }

}