#root{
  height: 100%;
}
.app {
  height: 100%;
}
.app__wrapper{
  position: relative;
  min-height: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  top: 60px
}
.app_sidebar{
  width: 20%;
}

@media (max-width: 800px) {
  .app_sidebar{
      display: none;
  }
}